body {
    background: url(https://i.pinimg.com/originals/99/15/14/99151403cfeb9aa35e12ea7d85d87fc8.jpg) no-repeat;
    background-size:cover;
    color:white;
    padding:0px;
    margin:0px;
    }

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 160px);;
    height: 80vh
}
    
.title{
    text-align:center;
    font-size:35px;
    font-family: 'Creepster', cursive;
    transition: 1s;
}

.title:hover{
    color:rgb(255, 166, 0);
}
    
.title-container{
    border: 1px solid;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    grid-column: 1/-1;
}
    
.title-image{
    width:100px;
}
    
.menu{
    margin:auto;
    margin-bottom:50px;
    grid-column: 2/2;
    font-family: 'Creepster', cursive;
}
    
.menu-image{
    width:100px;
}   
    
ul{
    list-style:none;
}
    
.nav li a{
    color:white;
    text-decoration:none;
    font-size: .8rem;
    padding:2px;
    display:block;
    position: relative;
    left: -80px;
    transition: 0.8s;
}

.nav li ul{
    display:none;
    position:absolute;
    min-width:100px;
}

.nav li a:hover{
    color: orange;
}

.nav li:hover> ul{
    display:block;
}
    
.stories{
    margin: 80px 5px 5px 5px;
    grid-row: 2;
    grid-column: 1/1;
}

.story{
    border:1px solid darkred;
    margin:0 auto;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 5px;
    display: grid;
}
    
.story span{ 
    font-family: 'Creepster', cursive;
    font-size:20px;
    place-self: center;
}
    
.story img{
    border-radius:10px;
    margin-top:15px;
    max-height: 150px;
    place-self: center;
}
    
#button{
    width:150px;
    cursor:pointer;
    grid-column: 2;
    grid-row: 4;
}
    
#button:active{
    transform:scale(.9);
}
    
.footer{
    clear: both;
    color: white;
    text-align: center;
    margin-top: 8vh;
    height: 10vh;
    background:rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    place-content: center;
    place-items: center;
    padding: 10px;
}
    
.logo{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
    
.logo-img{
    width: 50px;
    height: 40px;
}

@media screen and (max-width: 900px){

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 180px);;
        height: 760px;
    }


    .story{
        display: grid;
    }

    .story img{
        margin-top: 5px;
        max-width: 150px;
    }

    .stories{
        margin: 0;
        grid-row: 3;
        grid-column: 1/-1;
    }

    .menu-image{
        width: 40%;
    }

    
    
    #button{
        width: 50%;
        grid-column: 1;
        grid-row: 2;
        place-self: end end;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){

    .menu-image{
        width: 80px;
    }

    .nav li a{
        font-size: .8rem;
    }

    #button{
        width: 100px;
    }

}