body {
    background: url(https://i.pinimg.com/originals/99/15/14/99151403cfeb9aa35e12ea7d85d87fc8.jpg) no-repeat;
    background-size:cover;
    color:white;
    padding:0px;
    margin:0px;
    }

.container{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 160px);;
}
    
.title{
    text-align:center;
    font-size:35px;
    font-family: 'Creepster', cursive;
    transition: 1s;
}

.title:hover{
    color:rgb(255, 166, 0);
}
    
.title-container{
    border: 1px solid;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    grid-column: 1/-1;
}
    
.title-image{
    width:100px;
}
    
.menu{
    margin:auto;
    margin-bottom:50px;
    grid-column: 2/2;
    font-family: 'Creepster', cursive;  
}
    
.menu-image{
    width:100px;
}   
    
ul{
    list-style:none;
}
    
.nav li a{
    color:white;
    text-decoration:none;
    padding:2px;
    display:block;
    position: relative;
    left: -80px;
    transition: 0.8s;
}

.nav li ul{
    display:none;
    position:absolute;
    min-width:100px;
}

.nav li a:hover{
    color: orange;
}
    
.nav li a:active{
    background-color:red;
    border-radius:20px;
}

.nav li:hover> ul{
    display:block;
}
    
.stories{
    margin: 80px 5px 5px 5px;
    grid-row: 2;
    grid-column: 1/1;
}

.story{
    border:1px solid darkred;
    margin:0 auto;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 5px;
}
    
.story span{ 
    font-family: 'Creepster', cursive;
    font-size:20px;
}
    
.story img{
    width:100px;
    border-radius:10px;
    margin:2px;
    max-height: 100px;
}
    
#button{
    width:150px;
    cursor:pointer;
    grid-column: 2;
    grid-row: 4;
}
    
#button:active{
    transform:scale(.9);
}
    
.footer{
    clear: both;
    color: white;
    text-align: center;
    height: 100px;
    background:rgb(0, 0, 0);
}
    
.logo{
    display: flex;
    justify-content: center;
}
    
.logo-img{
    width: 40px;
}