body {
    background: url(https://i.pinimg.com/originals/99/15/14/99151403cfeb9aa35e12ea7d85d87fc8.jpg) no-repeat;
    background-size:100%;
    color:white;
    padding:0px;
    margin:0px;
    }

    .container{
        width: 900px;
        margin: 0 auto;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        min-height: calc(100vh - 50px - 71px);
    
    }
    
    .title{
        text-align:center;
        font-size:35px;
        font-family: 'Creepster', cursive;
        transition: 1s;
    }

    .title:hover{
        color:orange;
    }
    
    .title-container{
        border: 1px solid;
        border-radius:10px;
        background:rgba(0, 0, 0, 0.5);
        margin-top: 5px;
    }
    
    .title-image{
        width:100px;
    }
    
    .menu{
        margin:auto;
        
        margin-bottom:50px;
        display:flex;
        justify-content:flex-end;
        font-family: 'Creepster', cursive;
    }
    
    .menu-image{
        width:80px;
    }
    
    
    ul{
        list-style:none;
    }
    
    .nav li a{
        color:white;
        text-decoration:none;
        padding:5px;
        display:block;
        position: relative;
        left: -100px;
        transition: 0.8s;
    }

    .nav li a:hover{
        color: orange;
    }
    
    .nav li a:active{
        background-color:red;
        border-radius:20px;
    }
    
    
    .nav li ul{
        display:none;
        position:absolute;
        min-width:100px;
    }
    
    .nav li:hover> ul{
        display:block;
    }
    
    .nav li ul li{
        position:relative;
    }
    
    .nav li ul li ul{
        float:left;
    }
    
    
    .stories{
        margin: 80px 5px 5px 5px;
    }
    
    .story{
        border:1px solid darkred;
        margin:10px 0px;
        background:rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        padding: 5px;
    }
    
    .story span{ 
        font-family: 'Creepster', cursive;
        font-size:20px;
    }
    
    .story img{
        width:100px;
        border-radius:10px;
        margin:2px;
        max-height: 100px;
    }
    
    #button{
        width:150px;
        cursor:pointer;
    }
    
    #button:active{
        transform:scale(.9);
    }
    
    .footer{
        clear: both;
        color: white;
        text-align: center;
        height: 100px;
        background:rgb(0, 0, 0);
    }
    
    .logo{
        display: flex;
        justify-content: center;
    }
    
    .logo-img{
        width: 40px;
    }